---
layout: page
title: "Articles"
keywords: nuruddin pethani articles, noor pethani articles, tax articles, cpa articles, finance articles
description: Articles on topics from taxes to finances written by Nuruddin Pethani to help people reach their financial goals.
---
<div class="banner bg-info">
    <h1 class="text-center text-light">ARTICLES</h1>
</div>

<div class="container" style="padding-top: 20px;">
  {% include subscribe.html %}
  <div class="row">
    {% for post in site.posts %}
    <div class="col-lg-6 col-sm-12 mb-4">
      <div class="card h-100">
          <img
            class="card-img-top"
            src="{{ post.image }}"
            alt="{{ post.image-description }}"
            style="width: 100%; height: 300px; object-fit: cover;"
          />
          <div class="d-flex flex-column card-body">
            <h2>{{ post.title }}</h2>
            <p class="card-text">{{ post.description }}</p>
            <a class="btn btn-info stretched-link" href={{ post.url }} style="width: 100px;">Read</a>
          </div>
        <div class="card-footer text-muted">
          Posted on {{ post.date | date_to_string }} by {{ post.author }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br />
